*{
    margin:0;
    padding:2;
    background-image: linear-gradient() /*url("bibliotek.jpg")*/;
    background-color: transparent;
    overflow-x: hidden;
}

#adminbg{
    height:100vh;
    width:100vw;
    background-color:#FFB497;
}

#loginbg{
    height:100vh;
    width:100vw;
    background-image: url("bibliotek.jpg");
}

#Regbg{
    height:100vh;
    width:100vw;
    background-image: url("bibliotek.jpg");
}

#anvbg{
    min-height:100vh;
    height: 110%;
    width:100vw;
    background-color:#FFB497;
}

.Text{
    background-color: aliceblue;
    border-radius:5px;
}

#Reg{
    background-color: aliceblue;
    border-radius:5px;
    width:76px;
    margin-left:112px;
}

.Bok{
    width:250px;
    background-color: #C34A36;
}

#Bok{
    width:250px;
    background-color:#C34A36;
    margin-left:5px;
    margin-top:4px;
    border-radius: 5px;
    position: absolute;
}

.Bokfor{
    width:250px;
    background-color: #C34A36;
}

#Bokfor{
    width:250px;
    background-color: #C34A36;
    margin-left:300px;
    margin-top:-13px;
    border-radius: 5px;
    position: absolute;
}

#Bokfor2{
    width:250px;
    background-color: #C34A36;
    margin-left:1500px;
    margin-top:-50px;
    border-radius: 5px;
    position: absolute;
}

.Författare{
    width:250px;
    background-color:#C34A36;
}

#Författare{
    width:250px;
    background-color:#C34A36;
    margin-left:595px;
    margin-top:-32px;
    border-radius: 5px;
    position: absolute;
}

.Film{
    width:250px;
    background-color:#C34A36;
}

#Film{
    width:250px;
    background-color:#C34A36;
    margin-left:890px;
    margin-top:-32px;
    border-radius: 5px;
    position: absolute;
}

.Regissör{
    width:250px;
    background-color:#C34A36;
}

#Regissör{
    width:250px;
    background-color:#C34A36;
    margin-left:1185px;
    margin-top:-50px;
    border-radius: 5px;
    position: absolute;
}

#loginbox{
    padding:10px;
    width:300px;
    background-color:#C34A36;
    margin:auto;
    margin-top:30vh;
    border-radius: 5px;
}

.RegText{
    padding:10px;
    width:300px;
    background-color:#C34A36;
    margin:auto;
    margin-top:35vh;
    border-radius: 5px;
}

#loginhead{
    font-size: 13vh;
    background-color: #C34A36;
    text-align: center;
}

#navigering{
    position:absolute;
    width:100vw;
    background-color:#C34A36;
    display: flex;
    flex-direction: right;
}

.knapp{
    overflow:hidden;
    font-size: 8vh;
    height:13vh; 
    width:100%;
}

#knapptryck{
    background-color:#912a18;
}

#TabAnvändare{
    position: absolute;
    top: 200px;
    left: 400px;
}

#TabFörfattare{
    position: absolute;
    top: 200px;
    left: 400px;
}

.Tab{
    position: absolute;
    top: 200px;
    left: 400px;
}

