*{
    margin:0;
    padding:2;
    background-color: burlywood;
}

#bruh{
    width:250px;
    background-color:lightgray;
}

.Författare{
    background-color: beige;
}

.Bok{
    background-color: aliceblue;
}

#Test{
    background-color:aquamarine;
}