*{
    margin:0;
    padding:2;
    background-image: linear-gradient() /*url("bibliotek.jpg")*/;
    background-color: burlywood;
}

.bruh{
    width:250px;
    background-color:lightgray;
}

.Text{
    background-color: aliceblue;
}

.Bok{
    width:250px;
    background-color: aquamarine;
}

#Test{
    width:250px;
    background-color:aquamarine;
}

#Bakgrund{
    background-image: url("bibliotek.jpg");
}

.Bokfor{
    width:250px;
    background-color: aqua;
}